@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap");

/* resetar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*header*/
.header {
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

.navbar {
  display: flex;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#toogle-menu {
  display: none;
}
.header img {
  height: 80%;
}

.navbar_link {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*hero*/
#hero {
  align-items: center;
  display: flex;
  padding: 70px 0px;
  width: 90%;
  justify-content: space-around;
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hero-presentation h1 {
  font-weight: 700;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.hero-presentation p {
  font-weight: 300;
  font-size: 14px;
  max-width: 350px;
  color: black;
}

.button-container {
  display: flex;
  gap: 15px;
}

.button-container a {
  text-decoration: none;
  border: 3px solid black;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 600;
}

.primary-btn {
  background-color: black;
  color: white;
}

.alt-btn {
  background-color: white;
  color: black;
}

.hero-img {
  width: 475px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 850px;
  padding: 30px 0px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 992px) {
  .hero-presentation {
    text-align: center;
    width: 90%;
    align-items: center;
  }

  .hero-presentation h1 {
    display: block;
    width: 100%;
  }

  .hero-presentation p {
    max-width: 80%;
    font-size: 16px;
  }

  .button-container {
    justify-content: center;
  }

  .hero-img {
    display: none;
  }

  #about {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(200%);
    transition: all 0.4s ease-out;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked + .navbar-list {
    transform: translateX(0%);
  }
  ´ .hero-presentation p {
    max-width: 100%;
  }
}

/* 
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

ul a {
  color: white;
  text-decoration: none;
}
.container {
  background-color: rgb(76, 75, 75);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  width: 250px;
  height: 250px;
  background-color: crimson;
  border-radius: 10px;
}

img {
  height: 50px;
  width: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9fafb;
} */

/* #hero {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  color: rgb(65, 44, 18);
  min-width: 500px;
  background: linear-gradient(to rop, #30cfd0);
  color: transparent;
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: rgba(0, 0, 0, 0.596);
}

.btn a {
  color: #f7ededbd;
  background-color: rgb(37, 21, 21);
  padding: 8px 20px;
  border-radius: 8px;
}

.hero-img {
  background-color: rgb(11, 8, 95);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 50%;
}

#about {
  background-color: rgb(11, 8, 95);
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p {
  padding: 20px;
  max-width: 80%;
} */
